:root{
	--vermelho:red ;
	--preto:blac ;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: var(--preto);
	font-family: 'Arial';
	color: white;
}
 .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between; 	
  }
.logo{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: px;
	color: var(--vermelho);
	font-family: 'Arial Black, Times';
	font-size: 40px;
	border: 2px solid black;
	border-radius: 20px;
}
.logo: hover{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: px;
	color: black;
	background-color: darkred;
	font-family: 'Arial Black, Times';
	font-size: 40px;
	border: 2px solid black;
	border-radius: 20px;
}
header nav{
	border: 2px solid black;
	padding: 5px;
	background-color: red;
}
header nav a{
	text-decoration: none;
	color: black;
	margin-right: 0px;
	background-color: red;
	padding: 5px 10px;
	
}
header nav a:hover{
	color: #fff;
}
.filme-principal{
	font-size: 16px;
	background: url('velozes.jpg');
	height: 400px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.filme-principal .descricao{
	margin-top: 10px;
	margin-bottom: 40px;

}
.filme-principal .titulo{
	margin-top: 15%;
	font-size: 40px;
	font-family: 'Trebuchet MS';
}
.botao{
	background-color: rgba(0, 0, 0, .50);
	border: 2px solid white;
	color: white;
	padding: 15px 30px;
	margin-right: 15px;
	font-size: 12px;
	cursor: pointer;
	transition: .3s ease all;

}
.botao:hover{
	background-color: white;
	color: black;
}
.botao i{
	margin-right: 8px;
}
.box-filmes{
	height: 100%;
	width: 100%;
	display: block;
}
.carrossel-filmes{
	margin-top: 5px;

}
.item{
	border: 5px solid black;

	}